<h2 class="mb-3">Login</h2>

<form action="/login" method="POST">
  <div class="mb-3">
    <label>Email</label>
    <input type="text" name="username" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary mt-2">Login</button>
</form>

<hr>

<div class="text-center mt-3">
  <p>Or log in with:</p>
  <a href="/auth/google" class="btn btn-primary">Log in with Google</a>
  <a href="/auth/facebook" class="btn btn-primary">Log in with Facebook</a>
</div>